<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders</title>
    <style type="text/css">
   TABLE {
    width: 600px;
    border-collapse: collapse;
   }
   TD, TH {
    padding: 5px;
    border: 2px solid #E0FFFF;
    text-align: center;
   }
   TH {
    background: #00CED1;
   }
   TD {
    background: #AFEEEE;
   }
  </style>
</head>

<body>
<h1>Orders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Sum</th>
    </tr>

    <tr th:each="orders : ${ordersList}">
        <td th:text="${orders.id}"/>
        <td th:text="${customer.id}"/>
        <td th:text="${product.id}"/>
        <td th:text="${orders.quantity}"/>
        <td th:text="${orders.sum}"/>
</table>

</body>

</html>
